*{
	text-align: center;
}

body {
    background-image: url(../images/static.png);
    background-image: repeat;
}

html body div.container div.jumbotron {
    background-image: url(../images/colorbars.gif);
}

html body div#musicalInstruments.row, html body div.container div.row, h1, p {
    text-align: center;
}

.rating {
    color: #ebebeb;
    font-size: 45px;
}

.musical-item {
	border-radius: 10px;
    min-height: 281px;
    float: left;
    
}

.musicalInstumentImage {
    margin: 0 auto;  
}

